* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: black;
}
header {
  padding: 20px;
  color: white;
}
.wrapper {
  max-width: 400px;
  width: 80%;
  /* max-height: 350px;
  min-height: 350px; */
  height: 350px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}
.box {
  min-width: 60px;
  max-width: 120px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  background-color: black;
  text-align: center;
}
.turn-section {
  background-color: white;
  font-size: 30px;
  padding: 10px 20px;
}
.score-section {
  width: 80%;
  max-width: 400px;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.score-section div {
  width: 44%;
  padding-block: 5px;
  background-color: black;
  color: white;
}
.score {
  margin-top: -10px;
}
